html {
  scroll-behavior: smooth;
}
body {
  background: #ddd;
  
  
}

main {
  background: #ccc;
  background: url("https://assets.reedpopcdn.com/horizon-forbidden-west-gameplay-hoe-speelt-de-game-1640017713361.jpg/BROK/resize/1200x1200%3E/format/jpg/quality/70/horizon-forbidden-west-gameplay-hoe-speelt-de-game-1640017713361.jpg") no-repeat center center;
  background-size: cover;
  box-shadow: inset 0 0 100vw 100vw rgba(0, 0, 0, 0.3), 0 16px 8px -8px rgba(0, 0, 0, 0.4);
  width: 100%;
  height: 100vh;
  padding: 0 0 32px;
  display: flex;
  overflow-x: scroll;
  border-radius: 20px;
}

/*CARD*/
.card__btn {
  color: #fff;
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-radius: 24px;
  font-family: sans-serif;
  font-size: 6px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  width: 88px;
  margin: 8px 0 0;
  opacity: 0.5;
  padding: 8px;
}

.card__text-sm {
  color: #fff;
  font-family: sans-serif;
  font-size: 10px;
  margin: 0;
  padding: 16px 0 8px;
  position: relative;
}

.card__text-sm::before {
  content: "";
  background: #fff;
  height: 1px;
  width: 16px;
  position: absolute;
  top: 0;
}

.card__text-lg {
  color: #fff;
  font-family: "Oswald", sans-serif;
  font-size: 40px;
  font-weight: 300;
  text-transform: uppercase;
  line-height: 1.2;
  width: 100%;
  margin: 0;
}

/*...large...*/
.card-lg__container {
  padding: 0 16px 40px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
.card-lg__container .card__text-lg {
  font-family: "Oswald", sans-serif;
  font-size: 40px;
  font-weight: 400;
  letter-spacing: 1.4px;
}
.card-lg__container .card__text-md {
  color: #fff;
  font-family: sans-serif;
  font-size: 10px;
  font-weight: 100;
  line-height: 1.5;
  padding: 0 32px 0 0;
  opacity: 0.5;
}
.card-lg__container .card__text-sm {
  font-size: 14px;
}
.card-lg__container .card__text-sm::before {
  width: 24px;
  height: 2px;
}

/*...small...*/
.card-sm__container {
  height: 232px;
  margin: 0 -88px 0 0;
  display: flex;
  align-self: flex-end;
}

.card-sm {
  background: #ccc;
  background-size: cover;
  background-position: center center;
  box-shadow: inset 0 0 100vw 100vw rgba(0, 0, 0, 0.3), 0 16px 8px -8px rgba(0, 0, 0, 0.4);
  border-radius: 8px;
  width: 204px;
  height: 300px;
  margin: 0 8px;
  padding: 24px 16px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  cursor: pointer;
  transition: 0.3s ease;
}
.card-sm:hover {
  margin: -8px 8px 0;
}
.card-sm .card__text-sm {
  opacity: 0.8;
}

/*HIDE DEFAULT SCROLL BAR*/
.main::-webkit-scrollbar {
  display: none;
}

.main {
  -ms-overflow-style: none;
}

@media screen and (max-width: 960px) {
  main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 16px;
    padding: 8px 0 32px;
    height: unset;
    width: calc(100% - 65px);
    transform: scale(1);
  }

  section.card-lg__container {
    margin: 32px 0 0;
    padding: 0 0 32px;
  }

  section.card-sm__container {
    align-self: center;
    margin: 0 -72px 0 0;
  }
}
@media screen and (max-width: 695px) {
  main {
    padding: 8px 32px 0;
  }

  section.card-sm__container {
    height: unset;
    width: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  section.card-sm {
    width: calc(100% - 32px);
    height: 200px;
    margin: 0 0 16px;
  }

  .card-sm:hover {
    margin: 8px 0;
    transform: scale(0.9);
  }
}







.abs,
h2:after,
.cards .card figcaption,
.cards .card:after,
.news .card figcaption,
.news .card:after,
.news .article figcaption {
  position: absolute;
}
.rel,
h2,
h2 strong,
.cards .card,
.news .card,
.news .article {
  position: relative;
}
.fix {
  position: fixed;
}
.dfix {
  display: inline;
}
.dib {
  display: inline-block;
}
.db {
  display: block;
}
.dn {
  display: none;
}
.df,
.cards,
.news {
  display: flex;
}
.dif {
  display: inline-flex;
}
.dg {
  display: grid;
}
.dig {
  display: inline-grid;
}
.vm,
h2,
h2 strong,
h2 span {
  vertical-align: middle;
}
body {
  background: #24282f;
  
}
.wrapper {
  padding: 15px;
}
h2 {
  padding: 10px;
  padding-left: 25px;
  color: #ccc;
  margin: 0;
}
h2 strong {
  z-index: 2;
  background: #24282f;
  padding: 4px 8px;
}
h2 span {
  font-size: 0.7em;
  color: #aaa;
  margin-left: 10px;
}
h2:after {
  content: '';
  z-index: 1;
  bottom: 50%;
  margin-bottom: -2px;
  height: 2px;
  left: 0;
  right: 0;
  background: #373d47;
}
.cards,
.news {
  flex-flow: row wrap;
  
}
.cards .card,
.news .card {
  margin: 20px;
  width: 180px;
  height: 270px;
  overflow: hidden;
  box-shadow: 0 5px 10px rgba(0,0,0,0.8);
  transform-origin: center top;
  transform-style: preserve-3d;
  transform: translateZ(0);
  transition: 0.3s;
  border-radius: 10px;
}
.cards .card img,
.news .card img {
  width: 100%;
  min-height: 100%;
}
.cards .card figcaption,
.news .card figcaption {
  bottom: 0;
  left: 0;
  right: 0;
  padding: 20px;
  padding-bottom: 10px;
  font-size: 20px;
  background: none;
  color: #fff;
  transform: translateY(100%);
  transition: 0.3s;
  border-radius: 10px;
}
.cards .card:after,
.news .card:after {
  content: '';
  z-index: 10;
  width: 200%;
  height: 100%;
  top: -90%;
  left: -20px;
  opacity: 0.1;
  transform: rotate(45deg);
  background: linear-gradient(to top, transparent, #fff 15%, rgba(255,255,255,0.5));
  transition: 0.3s;
}
.cards .card:hover,
.news .card:hover,
.cards .card:focus,
.news .card:focus,
.cards .card:active,
.news .card:active {
  box-shadow: 0 8px 16px 3px rgba(0,0,0,0.6);
  transform: translateY(-3px) scale(1.05) rotateX(15deg);
}
.cards .card:hover figcaption,
.news .card:hover figcaption,
.cards .card:focus figcaption,
.news .card:focus figcaption,
.cards .card:active figcaption,
.news .card:active figcaption {
  transform: none;
}
.cards .card:hover:after,
.news .card:hover:after,
.cards .card:focus:after,
.news .card:focus:after,
.cards .card:active:after,
.news .card:active:after {
  transform: rotate(25deg);
  top: -40%;
  opacity: 0.15;
}
.news .article {
  overflow: hidden;
  width: 350px;
  height: 235px;
  margin: 20px;
  border-radius: 10px;
}
.news .article img {
  width: 100%;
  min-height: 100%;
  transition: 0.2s;
}
.news .article figcaption {
  font-size: 14px;
  text-shadow: 0 1px 0 rgba(51,51,51,0.3);
  color: #fff;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  padding: 40px;
  box-shadow: 0 0 2px rgba(0,0,0,0.2);
  background: rgba(6,18,53,0.6);
  opacity: 0;
  transform: scale(1.15);
  transition: 0.2s;
  border-radius: 10px;
}
.news .article figcaption h3 {
  color: #3792e3;
  font-size: 16px;
  margin-bottom: 0;
  font-weight: bold;
}
.news .article:hover img,
.news .article:focus img,
.news .article:active img {
  filter: blur(3px);
  transform: scale(0.97);
}
.news .article:hover figcaption,
.news .article:focus figcaption,
.news .article:active figcaption {
  opacity: 1;
  transform: none;
}
.btn-12{
  position: relative;
  right: 20px;
  bottom: 20px;
  border:none;
  box-shadow: none;
  width: 130px;
  height: 40px;
  line-height: 42px;
  -webkit-perspective: 230px;
  perspective: 230px;
}
.btn-12 span {
  background: rgb(0,172,238);
background: linear-gradient(0deg, rgba(0,172,238,1) 0%, rgba(2,126,251,1) 100%);
  display: block;
  position: absolute;
  width: 130px;
  height: 40px;
  box-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.5),
    7px 7px 20px 0px rgba(0,0,0,.1),
    4px 4px 5px 0px rgba(0,0,0,.1);
  border-radius: 5px;
  margin:0;
  text-align: center;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all .3s;
  transition: all .3s;
}
.btn-12 span:nth-child(1) {
  box-shadow:
    -7px -7px 20px 0px #fff9,
    -4px -4px 5px 0px #fff9,
    7px 7px 20px 0px #0002,
    4px 4px 5px 0px #0001;
  -webkit-transform: rotateX(90deg);
  -moz-transform: rotateX(90deg);
  transform: rotateX(90deg);
  -webkit-transform-origin: 50% 50% -20px;
  -moz-transform-origin: 50% 50% -20px;
  transform-origin: 50% 50% -20px;
}
.btn-12 span:nth-child(2) {
  -webkit-transform: rotateX(0deg);
  -moz-transform: rotateX(0deg);
  transform: rotateX(0deg);
  -webkit-transform-origin: 50% 50% -20px;
  -moz-transform-origin: 50% 50% -20px;
  transform-origin: 50% 50% -20px;
}
.btn-12:hover span:nth-child(1) {
  box-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.5),
    7px 7px 20px 0px rgba(0,0,0,.1),
    4px 4px 5px 0px rgba(0,0,0,.1);
  -webkit-transform: rotateX(0deg);
  -moz-transform: rotateX(0deg);
  transform: rotateX(0deg);
}
.btn-12:hover span:nth-child(2) {
  box-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.5),
    7px 7px 20px 0px rgba(0,0,0,.1),
    4px 4px 5px 0px rgba(0,0,0,.1);
  color: transparent;
  -webkit-transform: rotateX(-90deg);
  -moz-transform: rotateX(-90deg);
  transform: rotateX(-90deg);
}










@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600;700;800&display=swap");
:root {
  --card-width: 200px;
  --card-height: 300px;
  --card-transition-duration: 800ms;
  --card-transition-easing: ease;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}



button {
  border: none;
  background: none;
  cursor: pointer;
}
button:focus {
  outline: none;
  border: none;
}

.app {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.app__bg {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -5;
  filter: blur(8px);
  pointer-events: none;
  user-select: none;
  overflow: hidden;
}
.app__bg::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: #cddcf7;
  z-index: 1;
}
.app__bg__image {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%) translateX(var(--image-translate-offset, 0));
  width: 180%;
  height: 180%;
  transition: transform 1000ms ease, opacity 1000ms ease;
  overflow: hidden;
  
}
.app__bg__image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  
}
.app__bg__image.current--image {
  opacity: 1;
  --image-translate-offset: 0;
}
.app__bg__image.previous--image, .app__bg__image.next--image {
  opacity: 0;
}
.app__bg__image.previous--image {
  --image-translate-offset: -25%;
}
.app__bg__image.next--image {
  --image-translate-offset: 25%;
}

.cardList {
  position: absolute;
  width: calc(3 * var(--card-width));
  height: auto;
}
.cardList__btn {
  --btn-size: 35px;
  width: var(--btn-size);
  height: var(--btn-size);
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 100;
}
.cardList__btn.btn--left {
  left: -5%;
}
.cardList__btn.btn--right {
  right: -5%;
}
.cardList__btn .icon {
  width: 100%;
  height: 100%;
}
.cardList__btn .icon svg {
  width: 100%;
  height: 100%;
}
.cardList .cards__wrapper {
  position: relative;
  width: 100%;
  height: 100%;
  perspective: 1000px;
}

.cardxD {
  --card-translateY-offset: 100vh;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%) translateX(var(--card-translateX-offset)) translateY(var(--card-translateY-offset)) rotateY(var(--card-rotation-offset)) scale(var(--card-scale-offset));
  display: inline-block;
  width: var(--card-width);
  height: var(--card-height);
  transition: transform var(--card-transition-duration) var(--card-transition-easing);
  user-select: none;
  
}
.cardxD::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: #000;
  z-index: 1;
  transition: opacity var(--card-transition-duration) var(--card-transition-easing);
  opacity: calc(1 - var(--opacity));
  
}
.card__image {
  position: relative;
  width: 100%;
  height: 100%;
  border-radius: 20px;
  
}
.card__image img {
  
  position: absolute;
  border-radius: 25px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  
}
.cardxD.current--card {
  --current-card-rotation-offset: 0;
  --card-translateX-offset: 0;
  --card-rotation-offset: var(--current-card-rotation-offset);
  --card-scale-offset: 1.2;
  --opacity: 0.8;
}
.cardxD.previous--card {
  --card-translateX-offset: calc(-1 * var(--card-width) * 1.1);
  --card-rotation-offset: 25deg;
}
.cardxD.next--card {
  --card-translateX-offset: calc(var(--card-width) * 1.1);
  --card-rotation-offset: -25deg;
}
.cardxD.previous--card, .cardxD.next--card {
  --card-scale-offset: 0.9;
  --opacity: 0.4;
}

.infoList {
  position: absolute;
  width: calc(3 * var(--card-width));
  height: var(--card-height);
  pointer-events: none;
  
}
.infoList .info__wrapper {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  perspective: 1000px;
  transform-style: preserve-3d;
  
}

.info {
  margin-bottom: calc(var(--card-height) / 8);
  margin-left: calc(var(--card-width) / 1.5);
  transform: translateZ(2rem);
  transition: transform var(--card-transition-duration) var(--card-transition-easing);
}
.info .text {
  position: relative;
  font-family: "Montserrat";
  font-size: calc(var(--card-width) * var(--text-size-offset, 0.2));
  white-space: nowrap;
  color: #fff;
  width: fit-content;
}
.info .name,
.info .location {
  text-transform: uppercase;
}
.info .location {
  font-weight: 800;
}
.info .location {
  --mg-left: 40px;
  --text-size-offset: 0.12;
  font-weight: 600;
  margin-left: var(--mg-left);
  margin-bottom: calc(var(--mg-left) / 2);
  padding-bottom: 0.8rem;
}
.info .location::before, .info .location::after {
  content: "";
  position: absolute;
  background: #fff;
  left: 0%;
  transform: translate(calc(-1 * var(--mg-left)), -50%);
}
.info .location::before {
  top: 50%;
  width: 20px;
  height: 5px;
}
.info .location::after {
  bottom: 0;
  width: 60px;
  height: 2px;
}
.info .description {
  --text-size-offset: 0.065;
  font-weight: 500;
}
.info.current--info {
  opacity: 1;
  display: block;
}
.info.previous--info, .info.next--info {
  opacity: 0;
  display: none;
}

.loading__wrapper {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #000;
  z-index: 200;
  
}
.loading__wrapper .loader--text {
  color: #fff;
  font-family: "Montserrat";
  font-weight: 500;
  margin-bottom: 1.4rem;
}
.loading__wrapper .loader {
  position: relative;
  width: 200px;
  height: 2px;
  background: rgba(255, 255, 255, 0.25);
}
.loading__wrapper .loader span {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: red;
  transform: scaleX(0);
  transform-origin: left;
}

@media only screen and (min-width: 800px) {
  :root {
    --card-width: 250px;
    --card-height: 400px;
  }
}
.support {
  position: absolute;
  right: 10px;
  bottom: 10px;
  padding: 10px;
  display: flex;
}
.support a {
  margin: 0 10px;
  color: #fff;
  font-size: 1.8rem;
  backface-visibility: hidden;
  transition: all 150ms ease;
}
.support a:hover {
  transform: scale(1.1);
}







/*
=====
DEPENDENCES
=====
*/

/* 
helper to reset default browser's styles from headings
*/

.r-title{
  margin-top: var(--rTitleMarginTop, 0) !important;
  margin-bottom: var(--rTitleMarginBottom, 0) !important;
}

/* 
helper to hide elements that are available only for screen readers. 
*/

.screen-reader{
width: var(--screenReaderWidth, 1px) !important;
height: var(--screenReaderHeight, 1px) !important;
padding: var(--screenReaderPadding, 0) !important;
border: var(--screenReaderBorder, none) !important;

position: var(--screenReaderPosition, absolute) !important;
clip: var(--screenReaderClip, rect(1px, 1px, 1px, 1px)) !important;
overflow: var(--screenReaderOverflow, hidden) !important;
}

/*
=====
POPUP
=====
*/

/*
1. Creating the top and bottom gaps for the modal so that content doesn't touches window's edges
*/

.popup:not(:target){
display: none;
}

.popup:target{
width: 100%;
height: 100vh;

display: flex;

position: fixed;
top: 0;
right: 0;  
}

.popup::before{
content: "";
box-sizing: border-box;
width: 100%;
background-color: #fff;

position: fixed;
left: 0;
top: 50%;
}

.popup::after{
content: "";
width: 0;
height: 2px;
background-color: #f0f0f0;

position: absolute;
top: 50%;
left: 0;
margin-top: -1px;
}

.popup__container{
box-sizing: border-box;  
padding: 5% 15%;

height: calc(100vh - 40px); /* 1 */
margin: auto; /* 1 */
overflow: auto; /* 1 */
overscroll-behavior: contain; /* 1 */
}

.popup__title{
--rTitleMarginBottom: 1.5rem;
font-size: 1.5rem;
}

.popup__close{
width: 2rem;
height: 2rem;

position: fixed;
top: 1.5rem;
right: 1.5rem;

background-repeat: no-repeat;
background-position: center center;
background-size: contain;
background-image: url(data:image/svg+xml;base64,PHN2ZyBmaWxsPSIjMDAwMDAwIiBoZWlnaHQ9IjI0IiB2aWV3Qm94PSIwIDAgMjQgMjQiIHdpZHRoPSIyNCIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4gICAgPHBhdGggZD0iTTE5IDYuNDFMMTcuNTkgNSAxMiAxMC41OSA2LjQxIDUgNSA2LjQxIDEwLjU5IDEyIDUgMTcuNTkgNi40MSAxOSAxMiAxMy40MSAxNy41OSAxOSAxOSAxNy41OSAxMy40MSAxMnoiLz4gICAgPHBhdGggZD0iTTAgMGgyNHYyNEgweiIgZmlsbD0ibm9uZSIvPjwvc3ZnPg==);
color: #fff;
}

/*
animation
*/

.popup::before{
will-change: height, top;
animation: open-animation .6s cubic-bezier(0.83, 0.04, 0, 1.16) .65s both;
}

.popup::after{
will-change: width, opacity;
animation: line-animation .6s cubic-bezier(0.83, 0.04, 0, 1.16) both;
}

@keyframes line-animation{

0%{
  width: 0;
  opacity: 1;
}

99%{
  width: 100%;
  opacity: 1;
}

100%{
  width: 100%;
  opacity: 0;
}  
}

@keyframes open-animation{

0%{
  height: 0;
  top: 50%;
}

100%{
  height: 100vh;
  top: 0;
}
}

.popup__container{
animation: fade .5s ease-out 1.3s both;
}

@keyframes fade{

0%{
  opacity: 0;
}

100%{
  opacity: 1;
}
}

/*
=====
DEMO
=====
*/

/*
=====
DEPENDENCES
=====
*/

/* 
helper to reset default browser's styles from headings
*/

.r-title{
  margin-top: var(--rTitleMarginTop, 0) !important;
  margin-bottom: var(--rTitleMarginBottom, 0) !important;
}

/* 
helper to hide elements that are available only for screen readers. 
*/

.screen-reader{
width: var(--screenReaderWidth, 1px) !important;
height: var(--screenReaderHeight, 1px) !important;
padding: var(--screenReaderPadding, 0) !important;
border: var(--screenReaderBorder, none) !important;

position: var(--screenReaderPosition, absolute) !important;
clip: var(--screenReaderClip, rect(1px, 1px, 1px, 1px)) !important;
overflow: var(--screenReaderOverflow, hidden) !important;
}

/*
=====
POPUP
=====
*/

/*
1. Creating the top and bottom gaps for the modal so that content doesn't touches window's edges
*/

.popup:not(:target){
display: none;
}

.popup:target{
width: 100%;
height: 100vh;

display: flex;

position: fixed;
top: 0;
right: 0;  
}

.popup::before{
content: "";
box-sizing: border-box;
width: 100%;
background-color: #24282f;

position: fixed;
left: 0;
top: 50%;
}

.popup::after{
content: "";
width: 0;
height: 2px;
background-color: #24282f;

position: absolute;
top: 50%;
left: 0;
margin-top: -1px;
}

.popup__container{
box-sizing: border-box;  
padding: 5% 15%;

height: calc(100vh - 40px); /* 1 */
margin: auto; /* 1 */
overflow: auto; /* 1 */
overscroll-behavior: contain; /* 1 */
}

.popup__title{
--rTitleMarginBottom: 1.5rem;
font-size: 1.5rem;
color: #fff;
}

.popup__close{
width: 2rem;
height: 2rem;

position: fixed;
top: 1.5rem;
right: 1.5rem;

background-repeat: no-repeat;
background-position: center center;
background-size: contain;
background-image: url(data:image/svg+xml;base64,PHN2ZyBmaWxsPSIjMDAwMDAwIiBoZWlnaHQ9IjI0IiB2aWV3Qm94PSIwIDAgMjQgMjQiIHdpZHRoPSIyNCIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4gICAgPHBhdGggZD0iTTE5IDYuNDFMMTcuNTkgNSAxMiAxMC41OSA2LjQxIDUgNSA2LjQxIDEwLjU5IDEyIDUgMTcuNTkgNi40MSAxOSAxMiAxMy40MSAxNy41OSAxOSAxOSAxNy41OSAxMy40MSAxMnoiLz4gICAgPHBhdGggZD0iTTAgMGgyNHYyNEgweiIgZmlsbD0ibm9uZSIvPjwvc3ZnPg==);
}

/*
animation
*/

.popup::before{
will-change: height, top;
animation: open-animation .6s cubic-bezier(0.83, 0.04, 0, 1.16) .65s both;
}

.popup::after{
will-change: width, opacity;
animation: line-animation .6s cubic-bezier(0.83, 0.04, 0, 1.16) both;
}

@keyframes line-animation{

0%{
  width: 0;
  opacity: 1;
}

99%{
  width: 100%;
  opacity: 1;
}

100%{
  width: 100%;
  opacity: 0;
}  
}

@keyframes open-animation{

0%{
  height: 0;
  top: 50%;
}

100%{
  height: 100vh;
  top: 0;
}
}

.popup__container{
animation: fade .5s ease-out 1.3s both;
}

@keyframes fade{

0%{
  opacity: 0;
}

100%{
  opacity: 1;
}
}

/*
=====
DEMO
=====
*/

body{
font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Open Sans, Ubuntu, Fira Sans, Helvetica Neue, sans-serif;
font-size: 1rem;
color: #222;
margin: 0;
}

p{
margin: 0;
line-height: 1.5;
}

p:nth-child(n+2){
margin-top: 1rem;
}

.open-popup{
color: #fff;
text-decoration: none;
text-transform: uppercase;
}

.page{
min-height: 100vh;
display: flex;
}

.page__container{
max-width: 1200px;
padding-left: .75rem;
padding-right: .75rem;  
margin: auto;
}

p{
margin: 0;
line-height: 1.5;
color: #fff;
}

p:nth-child(n+2){
margin-top: 1rem;
}

.open-popup{
color: #fff;
text-decoration: none;
text-transform: uppercase;
padding: .75rem 1.25rem;
}

.page{
min-height: 100vh;
display: flex;
}

.page__container{
max-width: 1200px;
padding-left: .75rem;
padding-right: .75rem;  
margin: auto;
}